aside ul,
footer {
    font-family: $poppins;
}

aside {
    > :nth-child(5) {
        font-family: $poppins;
        font-size: $large;
        font-weight: $bold;
    }
}

footer input {
    font-size: $medium;
}