// Color Cchemes 
$white: #fff;
$black: #000;
$sable: #060606;
$charcoal: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;
$lead: #505050;
$lead-border: #555555;

// Font-Family
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

// Font-Weight
$regular: 400;
$bold: 700;

// Font-Sizes
$x5-large: 50px;
$x4-large: 45px;
$x3-large: 40px;
$x2-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$ra-md: 768px;
$ra-lg: 992px;