button {
    background-color: $tangerine;
    margin: 4px auto;
    width: fit-content;
    padding: 6px 2px;
    border: 1px solid $white;
    border-radius: 6px;
    margin-left: 2px;


    &:hover {
        background-color: $white;
        border: 1px solid $sable;
    }
}