aside > svg {
    width: 525px;
    max-width: 375px;
}

.etiqueta {
    animation: moverEtiqueta 1s alternate linear infinite;
}

.rueda {
    animation: girarRueda 3s linear infinite;
    transform-origin: 75% 75%;
}

@keyframes moverEtiqueta {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(10%)
    }
}

@keyframes girarRueda {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

