footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    padding: 32px clamp(50px, 15%, 100px) 16px;

    background: $sable;
    color: $white;

    input{
        margin-left: 20px;
    }
    p {
        display: flex;
        flex-direction: column;

        :first-child {
            margin-top: clamp(1px, 7.5px, 16px);

            @include respuesta($medida1) {
                margin-top: 0;
            }
        }

        span {
            padding-top: clamp(4px, 11.25px, 16px);
            margin-left: 20px;

            @include respuesta($medida1) {
                padding-top: 0;
            }
        }

        @include respuesta($medida1) {
            flex-direction: row;
            align-items: center;
            width: 50%;
            justify-content: space-between;
        }
    }

    @include respuesta($medida2) {
        flex-direction: row;
        align-items: center;

    }

}