body {
  font-family: "Ubuntu", sans-serif;
}

@media (min-width: 992px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(48px, auto);
  }

  nav {
    grid-column: 1/3;
    grid-row: 1;
  }

  header {
    grid-column: 1/3;
    grid-row: 2;
  }

  main {
    grid-column: 1/2;
    grid-row: 3;
  }

  aside {
    grid-column: 2/3;
    grid-row: 3;
  }

  footer {
    grid-column: 1/3;
    grid-row: 4;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

aside ul,
footer {
  font-family: "Poppins", sans-serif;
}

aside > :nth-child(5) {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

footer input {
  font-size: 16px;
}

button {
  background-color: #ffaf6d;
  margin: 4px auto;
  width: fit-content;
  padding: 6px 2px;
  border: 1px solid #fff;
  border-radius: 6px;
  margin-left: 2px;
}
button:hover {
  background-color: #fff;
  border: 1px solid #060606;
}

input {
  margin-top: 16px;
  height: 32px;
  border-radius: 8px;
}
input:focus {
  background-color: #ffaf6d;
}
@media (min-width: 992px) {
  input {
    margin-top: 0;
  }
}

nav > ul {
  display: none;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  transition: all 1.5s ease-out;
  text-align: center;
  background-color: #060606;
  color: #fff;
  border-right: 1px solid #fff;
}
nav > ul li {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  box-shadow: 2px 2px 20px #060606;
}
@media (min-width: 992px) {
  nav > ul li {
    box-shadow: none;
    border: none;
  }
}
nav > ul a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  nav > ul {
    display: flex;
    position: static;
    width: 40%;
    border: none;
  }
}

.visible {
  display: block;
}

aside > svg {
  width: 525px;
  max-width: 375px;
}

.etiqueta {
  animation: moverEtiqueta 1s alternate linear infinite;
}

.rueda {
  animation: girarRueda 3s linear infinite;
  transform-origin: 75% 75%;
}

@keyframes moverEtiqueta {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(10%);
  }
}
@keyframes girarRueda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 32px clamp(50px, 15%, 100px) 16px;
  background: #060606;
  color: #fff;
}
footer input {
  margin-left: 20px;
}
footer p {
  display: flex;
  flex-direction: column;
}
footer p :first-child {
  margin-top: 7.5px;
}
@media (min-width: 768px) {
  footer p :first-child {
    margin-top: 0;
  }
}
footer p span {
  padding-top: 11.25px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  footer p span {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  footer p {
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  footer {
    flex-direction: row;
    align-items: center;
  }
}

header {
  margin-top: clamp(16px, 10vh, 80px);
}
@media (min-width: 992px) {
  header {
    width: 950px;
    margin: 16px auto 0;
  }
}

main {
  border: 1px solid #000;
  margin: 0 4px 20px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  main {
    margin: 0 clamp(16px, 15%, 180px) 20px;
  }
}
@media (min-width: 992px) {
  main {
    margin: 0 4px 20px;
  }
}
main articulo {
  border: 1px dotted #555555;
  padding: 8px 8px 16px;
  margin-bottom: 8px;
}
main articulo > :nth-child(2) {
  margin: 12px 0 16px;
}
main articulo > :nth-child(3) {
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
}
main articulo .instructor {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.5px;
  margin: 16px 0;
}
main articulo .iconos i {
  margin-right: 2px;
}
main articulo .contador {
  margin-right: 12px;
}
@media (min-width: 992px) {
  main articulo {
    flex-grow: 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-height: 80px;
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
}
nav img {
  height: 60%;
  margin-left: 16px;
  width: auto;
}
nav svg {
  margin-right: 16px;
}
nav svg path:hover {
  stroke: #ffa500;
}
@media (min-width: 992px) {
  nav svg {
    display: none;
  }
}

aside {
  border: 1px solid #000;
  margin: 0 4px 20px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  aside {
    margin: 0 clamp(16px, 15%, 180px) 20px;
  }
}
@media (min-width: 992px) {
  aside {
    margin: 0 4px 20px;
  }
}
aside img {
  width: 60%;
  max-width: 375px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-bottom: 16px;
}
aside > :nth-child(3) {
  font-size: 20px;
  margin: 16px 0;
}
aside > :nth-child(4) {
  align-self: flex-start;
  text-align: justify;
  line-height: 32px;
}
aside > :nth-child(5) {
  width: 100%;
  margin: 12px 0;
  text-align: center;
  color: #fff;
  background-color: #505050;
}
aside > :nth-child(6) {
  align-self: flex-start;
  margin-bottom: 32px;
  padding-left: 18px;
  list-style: circle;
}
aside a {
  text-decoration: none;
}

.fa-facebook {
  margin: 0 16px 0;
}

/*# sourceMappingURL=main.css.map */
